/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago/

.env

package-lock.json

test/db.sqlite3

# generated literate files
guide/src/*
